# Solana RPC
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Mint address (set after creation)
NEXT_PUBLIC_MINT_ADDRESS=

# Database
DATABASE_URL="file:./dev.db"
